        .search-bar{
            width:150px;
            display: block;
        }
        p{
            font-family: Roboto,Arial;
            margin-top: 0;
            margin-bottom: 0;
        }
        .thumbnail{
            width: 100%;
        
        }
        
        
    
        .video-info-grid{
            display:grid;
        grid-template-columns: 50px 1fr;
        

        }

    
        .picture{
            display: inline-block;
            width:40px;
            border-radius: 40px;
        }
        .A{
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 12px;
        }
        .B,.C{
        font-size: 12px;
        color: rgb(96, 96, 96);
        }
        .B{
        margin-bottom: 4px;
        }

        .thumbnail-row{
        margin-bottom: 12px;
        }
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 40px;  }